In [5]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as smf
%matplotlib inline
import matplotlib.pyplot as plt
import sqlalchemy as sa

In [11]:
df = pd.read_csv('tipsst10_tabular.tsv',sep='\t',na_values = ':')
df.head()

,"freq,sectperf,unit,geo\TIME_PERIOD",1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"A,TOTAL,MIO_NAC,AT",2701.68 e,2885.55 e,3123.21 e,3399.835,3761.8 e,4028.67 e,4393.09 e,4684.313,5041.98 e,...,9287.84 e,9571.282,10275.18 e,10499.146,11145.02 e,11289.781,11912 e,12441.232,12199.02 e,12951.77 p
1,"A,TOTAL,MIO_NAC,BE",3467.36,3734.99,4055.6,4276.21,4617.525,4963.95,5373.378,5200.737,5177.444,...,8809.188,9156.953,9551.244,10118.2,10852.674,11867.981,13158.259,15109.898,15425.429 e,16151.868 p
2,"A,TOTAL,MIO_NAC,BG",5.447,9.148 b,88.591,127.598,134.45 b,139.265,138.539,158.327,173.01,...,496.176,521.682,664.829,850.457,734.274,760.234,828.904,1002.132,1023.79,1074.004
3,"A,TOTAL,MIO_NAC,CY",:,:,:,18.419,21.221,24.04,27.051,33.217,40.892,...,85.322,87.469,89.521,85.286,98.815,110.214,133.097,164.435,184.764,208 p
4,"A,TOTAL,MIO_NAC,CZ",13982.6 b,16264.3,19477.4,22865,23646.7,26487.2,28337,29552.2,32246.596,...,72360.307,77853.386,85104.467,88663.39,80109.157,90386.025,102753.73,111622.047,113382.506,121930.366 p

In [12]:
import re
new_columns = df['freq,sectperf,unit,geo\\TIME_PERIOD'].str.split(',', expand=True)

new_columns.columns = ['freq', 'sectperf','unit', 'geo']
df = pd.concat([df, new_columns], axis=1)
print(df.head())

for i in range(1,28):
    df.iloc[:,i] = df.iloc[:,i].apply(lambda x: re.sub(r'[^0-9.]', '', x))
df

for i in range(1,28):
    df.iloc[:,i] = pd.to_numeric(df.iloc[:,i], errors='coerce')
df

  freq,sectperf,unit,geo\TIME_PERIOD      1995       1996       1997   \
0                 A,TOTAL,MIO_NAC,AT  2701.68 e  2885.55 e  3123.21 e
1                 A,TOTAL,MIO_NAC,BE   3467.36    3734.99     4055.6
2                 A,TOTAL,MIO_NAC,BG     5.447     9.148 b    88.591
3                 A,TOTAL,MIO_NAC,CY         :          :          :
4                 A,TOTAL,MIO_NAC,CZ  13982.6 b   16264.3    19477.4

       1998       1999       2000       2001       2002        2003   ...  \
0  3399.835    3761.8 e  4028.67 e  4393.09 e  4684.313    5041.98 e  ...
1   4276.21   4617.525    4963.95   5373.378   5200.737    5177.444   ...
2   127.598    134.45 b   139.265    138.539    158.327      173.01   ...
3    18.419     21.221      24.04     27.051     33.217      40.892   ...
4     22865    23646.7    26487.2      28337    29552.2   32246.596   ...

        2016        2017        2018         2019         2020          2021   \
0  11145.02 e  11289.781      11912 e   12441.232    12199.02 e    12951.77 p
1  10852.674   11867.981   13158.259    15109.898   15425.429 e   16151.868 p
2    734.274     760.234     828.904     1002.132      1023.79      1074.004
3     98.815     110.214     133.097      164.435      184.764          208 p
4  80109.157   90386.025   102753.73   111622.047   113382.506   121930.366 p

  freq sectperf     unit geo
0    A    TOTAL  MIO_NAC  AT
1    A    TOTAL  MIO_NAC  BE
2    A    TOTAL  MIO_NAC  BG
3    A    TOTAL  MIO_NAC  CY
4    A    TOTAL  MIO_NAC  CZ

[5 rows x 32 columns]

/var/folders/44/fw7lvkz15dv1v3q44mb6hv7r0000gn/T/ipykernel_34421/381077300.py:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,i] = pd.to_numeric(df.iloc[:,i], errors='coerce')

,"freq,sectperf,unit,geo\TIME_PERIOD",1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2016,2017,2018,2019,2020,2021,freq,sectperf,unit,geo
0,"A,TOTAL,MIO_NAC,AT",2701.680,2885.550,3123.210,3399.835,3761.800,4028.670,4393.090,4684.313,5041.980,...,11145.020,11289.781,11912.000,12441.232,12199.020,12951.770,A,TOTAL,MIO_NAC,AT
1,"A,TOTAL,MIO_NAC,BE",3467.360,3734.990,4055.600,4276.210,4617.525,4963.950,5373.378,5200.737,5177.444,...,10852.674,11867.981,13158.259,15109.898,15425.429,16151.868,A,TOTAL,MIO_NAC,BE
2,"A,TOTAL,MIO_NAC,BG",5.447,9.148,88.591,127.598,134.450,139.265,138.539,158.327,173.010,...,734.274,760.234,828.904,1002.132,1023.790,1074.004,A,TOTAL,MIO_NAC,BG
3,"A,TOTAL,MIO_NAC,CY",NaN,NaN,NaN,18.419,21.221,24.040,27.051,33.217,40.892,...,98.815,110.214,133.097,164.435,184.764,208.000,A,TOTAL,MIO_NAC,CY
4,"A,TOTAL,MIO_NAC,CZ",13982.600,16264.300,19477.400,22865.000,23646.700,26487.200,28337.000,29552.200,32246.596,...,80109.157,90386.025,102753.730,111622.047,113382.506,121930.366,A,TOTAL,MIO_NAC,CZ
5,"A,TOTAL,MIO_NAC,DE",40453.677,41206.136,42916.263,44642.152,48352.314,50825.217,52235.953,53551.061,54727.818,...,92173.556,99553.616,104669.045,110025.410,106582.971,112563.319,A,TOTAL,MIO_NAC,DE
6,"A,TOTAL,MIO_NAC,DK",18543.000,19657.000,21652.000,23793.140,26415.110,29009.000,31883.380,34431.000,36074.597,...,65191.000,64281.000,66834.000,67999.000,68991.000,70433.000,A,TOTAL,MIO_NAC,DK
7,"A,TOTAL,MIO_NAC,EE",NaN,NaN,NaN,28.818,36.609,37.030,48.797,55.699,66.864,...,270.340,304.320,365.640,452.970,480.890,550.962,A,TOTAL,MIO_NAC,EE
8,"A,TOTAL,MIO_NAC,EL",388.560,NaN,492.230,NaN,760.230,NaN,851.500,NaN,977.780,...,1754.180,2038.430,2179.310,2337.660,2494.200,2635.232,A,TOTAL,MIO_NAC,EL
9,"A,TOTAL,MIO_NAC,ES",3550.108,3852.634,4038.901,4715.016,4995.358,5718.990,6227.157,7193.538,8213.036,...,13260.000,14063.000,14946.000,15572.000,15768.000,17249.250,A,TOTAL,MIO_NAC,ES
10,"A,TOTAL,MIO_NAC,FI",2172.383,2503.645,2904.891,3354.508,3878.800,4422.610,4619.018,4830.365,5005.018,...,5926.100,6173.200,6437.700,6715.100,6932.700,7491.102,A,TOTAL,MIO_NAC,FI
11,"A,TOTAL,MIO_NAC,FR",27302.462,27835.361,27755.783,28318.945,29528.399,30953.600,32887.370,34527.255,34569.095,...,49650.920,50513.598,51913.800,53427.810,53229.762,55317.060,A,TOTAL,MIO_NAC,FR
12,"A,TOTAL,MIO_NAC,HR",NaN,NaN,NaN,NaN,NaN,NaN,NaN,266.242,293.185,...,402.293,419.537,494.011,591.465,626.911,724.534,A,TOTAL,MIO_NAC,HR
13,"A,TOTAL,MIO_NAC,HU",41201.000,44889.400,61749.300,68620.400,78187.900,105387.600,140605.200,171470.200,175772.900,...,427191.800,517258.000,654163.100,702199.300,771489.600,907453.320,A,TOTAL,MIO_NAC,HU
14,"A,TOTAL,MIO_NAC,IE",671.000,764.815,862.448,971.611,1068.400,1175.900,1284.300,1435.800,1636.800,...,3175.100,3727.603,3812.432,4370.610,4595.286,4501.544,A,TOTAL,MIO_NAC,IE
15,"A,TOTAL,MIO_NAC,IT",9225.940,9892.950,10789.100,11444.000,11524.100,12460.300,13572.200,14599.500,14769.000,...,23171.612,23793.650,25232.243,26259.661,25028.257,26516.918,A,TOTAL,MIO_NAC,IT
16,"A,TOTAL,MIO_NAC,LT",33.283,47.750,62.911,70.809,63.815,78.177,94.648,99.832,110.577,...,327.612,378.906,426.306,485.998,564.868,622.354,A,TOTAL,MIO_NAC,LT
17,"A,TOTAL,MIO_NAC,LU",NaN,NaN,NaN,NaN,NaN,363.900,NaN,NaN,425.800,...,712.100,720.700,704.500,737.800,707.084,739.439,A,TOTAL,MIO_NAC,LU
18,"A,TOTAL,MIO_NAC,LV",17.516,18.583,19.764,22.809,22.069,29.866,30.080,34.334,34.391,...,110.400,137.900,186.200,195.200,208.230,232.200,A,TOTAL,MIO_NAC,LV
19,"A,TOTAL,MIO_NAC,MT",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.298,11.367,...,58.702,65.928,74.626,80.050,86.205,95.334,A,TOTAL,MIO_NAC,MT
20,"A,TOTAL,MIO_NAC,NL",6006.689,6344.301,6808.065,6868.871,7646.000,8090.000,8655.000,8747.000,9148.000,...,15235.000,16081.000,16554.000,17760.000,18494.000,19316.000,A,TOTAL,MIO_NAC,NL
21,"A,TOTAL,MIO_NAC,PL",2132.800,2761.400,3361.000,4005.100,4590.500,4796.100,4858.000,4522.000,4558.200,...,17943.000,20578.500,25647.792,30284.822,32402.089,37675.849,A,TOTAL,MIO_NAC,PL
22,"A,TOTAL,MIO_NAC,PT",460.040,518.460,576.880,695.800,814.750,926.590,1038.432,1029.006,1019.581,...,2388.467,2585.100,2769.072,2991.864,3236.212,3609.191,A,TOTAL,MIO_NAC,PT
23,"A,TOTAL,MIO_NAC,RO",57.715,76.835,146.500,183.339,219.581,296.205,459.343,574.386,762.065,...,3675.142,4317.087,4769.280,5065.332,4964.533,5616.594,A,TOTAL,MIO_NAC,RO
24,"A,TOTAL,MIO_NAC,SE",59023.000,NaN,67026.439,NaN,76569.726,NaN,96989.601,NaN,96773.000,...,143372.000,155532.000,160351.000,171060.000,175825.000,182972.920,A,TOTAL,MIO_NAC,SE
25,"A,TOTAL,MIO_NAC,SI",157.123,153.630,172.463,200.363,230.298,256.368,310.379,339.865,319.632,...,811.953,802.291,892.724,990.698,1007.493,1117.000,A,TOTAL,MIO_NAC,SI
26,"A,TOTAL,MIO_NAC,SK",178.384,196.010,257.054,204.275,184.293,202.018,214.665,210.217,232.889,...,640.835,748.955,750.947,776.590,838.927,918.350,A,TOTAL,MIO_NAC,SK
27,"A,TOTAL,PC_GDP,AT",1.530,1.580,1.660,1.730,1.850,1.890,1.990,2.070,2.170,...,3.120,3.060,3.090,3.130,3.200,3.190,A,TOTAL,PC_GDP,AT
28,"A,TOTAL,PC_GDP,BE",1.650,1.740,1.810,1.840,1.910,1.940,2.030,1.900,1.840,...,2.520,2.670,2.860,3.160,3.350,3.220,A,TOTAL,PC_GDP,BE
29,"A,TOTAL,PC_GDP,BG",0.430,0.420,0.470,0.480,0.540,0.500,0.450,0.460,0.470,...,0.770,0.740,0.750,0.830,0.850,0.770,A,TOTAL,PC_GDP,BG
30,"A,TOTAL,PC_GDP,CY",NaN,NaN,NaN,0.200,0.220,0.230,0.240,0.280,0.320,...,0.520,0.540,0.610,0.710,0.840,0.870,A,TOTAL,PC_GDP,CY
31,"A,TOTAL,PC_GDP,CZ",0.880,0.890,0.990,1.060,1.050,1.110,1.100,1.100,1.140,...,1.670,1.770,1.900,1.930,1.990,2.000,A,TOTAL,PC_GDP,CZ
32,"A,TOTAL,PC_GDP,DE",2.140,2.140,2.190,2.220,2.350,2.410,2.400,2.440,2.470,...,2.940,3.050,3.110,3.170,3.130,3.130,A,TOTAL,PC_GDP,DE
33,"A,TOTAL,PC_GDP,DK",1.790,1.810,1.890,2.010,2.130,2.190,2.320,2.440,2.510,...,3.090,2.930,2.970,2.930,2.960,2.810,A,TOTAL,PC_GDP,DK
34,"A,TOTAL,PC_GDP,EA20",NaN,NaN,NaN,NaN,NaN,1.780,1.800,1.810,1.810,...,2.140,2.180,2.210,2.250,2.340,2.290,A,TOTAL,PC_GDP,EA20
35,"A,TOTAL,PC_GDP,EE",NaN,NaN,NaN,0.570,0.680,0.600,0.700,0.710,0.760,...,1.240,1.280,1.410,1.630,1.750,1.750,A,TOTAL,PC_GDP,EE
36,"A,TOTAL,PC_GDP,EL",0.420,NaN,0.430,NaN,0.570,NaN,0.560,NaN,0.550,...,1.010,1.150,1.210,1.280,1.510,1.450,A,TOTAL,PC_GDP,EL
37,"A,TOTAL,PC_GDP,ES",0.770,0.790,0.780,0.850,0.840,0.880,0.890,0.960,1.020,...,1.190,1.210,1.240,1.250,1.410,1.430,A,TOTAL,PC_GDP,ES
38,"A,TOTAL,PC_GDP,EU27_2020",NaN,NaN,NaN,NaN,NaN,1.810,1.820,1.830,1.830,...,2.120,2.150,2.190,2.220,2.300,2.260,A,TOTAL,PC_GDP,EU27_2020
39,"A,TOTAL,PC_GDP,FI",2.200,2.450,2.620,2.780,3.060,3.240,3.190,3.250,3.300,...,2.720,2.730,2.760,2.800,2.910,2.990,A,TOTAL,PC_GDP,FI
40,"A,TOTAL,PC_GDP,FR",2.240,2.220,2.150,2.090,2.110,2.090,2.140,2.170,2.120,...,2.220,2.200,2.200,2.190,2.300,2.210,A,TOTAL,PC_GDP,FR
41,"A,TOTAL,PC_GDP,HR",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.940,0.940,...,0.850,0.850,0.950,1.080,1.240,1.240,A,TOTAL,PC_GDP,HR
42,"A,TOTAL,PC_GDP,HU",0.710,0.630,0.700,0.660,0.670,0.790,0.910,0.980,0.920,...,1.180,1.320,1.510,1.470,1.590,1.650,A,TOTAL,PC_GDP,HU
43,"A,TOTAL,PC_GDP,IE",1.230,1.270,1.240,1.210,1.150,1.080,1.050,1.060,1.120,...,1.180,1.250,1.170,1.230,1.230,1.060,A,TOTAL,PC_GDP,IE
44,"A,TOTAL,PC_GDP,IT",0.930,0.950,0.990,1.000,0.980,1.000,1.040,1.080,1.060,...,1.370,1.370,1.420,1.460,1.510,1.480,A,TOTAL,PC_GDP,IT
45,"A,TOTAL,PC_GDP,LT",0.430,0.490,0.540,0.540,0.500,0.590,0.670,0.660,0.660,...,0.840,0.900,0.940,0.990,1.140,1.110,A,TOTAL,PC_GDP,LT
46,"A,TOTAL,PC_GDP,LU",NaN,NaN,NaN,NaN,NaN,1.580,NaN,NaN,1.620,...,1.270,1.240,1.170,1.180,1.090,1.020,A,TOTAL,PC_GDP,LU
47,"A,TOTAL,PC_GDP,LV",0.430,0.400,0.370,0.380,0.350,0.430,0.400,0.410,0.360,...,0.440,0.510,0.640,0.640,0.690,0.690,A,TOTAL,PC_GDP,LV
48,"A,TOTAL,PC_GDP,MT",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.250,0.240,...,0.560,0.550,0.580,0.560,0.650,0.640,A,TOTAL,PC_GDP,MT
49,"A,TOTAL,PC_GDP,NL",1.820,1.840,1.840,1.740,1.820,1.790,1.800,1.750,1.780,...,2.150,2.180,2.140,2.180,2.310,2.250,A,TOTAL,PC_GDP,NL
50,"A,TOTAL,PC_GDP,PL",0.620,0.640,0.640,0.660,0.680,0.640,0.620,0.560,0.540,...,0.960,1.030,1.210,1.320,1.390,1.440,A,TOTAL,PC_GDP,PL
51,"A,TOTAL,PC_GDP,PT",0.520,0.550,0.560,0.620,0.680,0.720,0.760,0.720,0.700,...,1.280,1.320,1.350,1.400,1.610,1.680,A,TOTAL,PC_GDP,PT
52,"A,TOTAL,PC_GDP,RO",0.760,0.670,0.570,0.500,0.400,0.370,0.390,0.380,0.400,...,0.480,0.500,0.500,0.480,0.470,0.470,A,TOTAL,PC_GDP,RO
53,"A,TOTAL,PC_GDP,SE",3.100,NaN,3.270,NaN,3.380,NaN,3.870,NaN,3.580,...,3.250,3.360,3.320,3.390,3.490,3.350,A,TOTAL,PC_GDP,SE
54,"A,TOTAL,PC_GDP,SI",1.490,1.260,1.250,1.310,1.340,1.360,1.470,1.440,1.250,...,2.010,1.870,1.950,2.040,2.140,2.140,A,TOTAL,PC_GDP,SI
55,"A,TOTAL,PC_GDP,SK",0.900,0.890,1.050,0.770,0.640,0.640,0.620,0.560,0.560,...,0.790,0.880,0.840,0.820,0.900,0.930,A,TOTAL,PC_GDP,SK

In [ ]:
import re
for i in range(1,20):
    df.iloc[:,i] = df.iloc[:,i].apply(lambda x: re.sub(r'[^0-9.]', '', x))
df

for i in range(1,20):
    df.iloc[:,i] = pd.to_numeric(df.iloc[:,i], errors='coerce')
df